/* generic */

.is-animated {
  transition: all 400ms ease;
}

.content__container {
  margin: 0 auto;

  &.is-aline-center {
    text-align: center;
  }
  @include breakpoint(large) {
    width: 1400px;
  }

  @include breakpoint(medium) {
    width: 100%;
  }
}

section {
  padding: 80px 0;
  @include breakpoint(medium) {
    padding: 40px 0;
  }
  &.is-grey {
    background: $lightgrey;
  }
}

.is-desktop {
  @include breakpoint(medium) {
    display: none !important;
  }
}

.is-mobile {
  @include breakpoint(large) {
    display: none !important;
  }
}
