/* mobile__menu */
.menu__mobile {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 10;
  padding: 20px;
  opacity: 0;
  pointer-events: none;

  &.is-active {
    opacity: 1;
    pointer-events: all;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-header {
    display: flex;
    justify-content: space-between;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-close {
    cursor: pointer;
  }

  &-link {
    padding-top: 37px;
    font-weight: normal;
    font-size: 16px;
    line-height: 147.3%;
    cursor: pointer;
  }

  &-button {
    margin: 0 auto;
    width: 100%;
  }

  &-but {
    text-align: center;
    width: 100%;
    padding: 12px 30px;
    border-radius: 6px;
    border: 1px solid rgba(27, 27, 27, 0.4);
    background-color: white;
    color: $black;
  }
}

.mobile__burger {
  position: absolute;
  top: 28px;
  right: 23px;
  cursor: pointer;

  &-item {
    background: black;
    width: 18px;
    height: 2px;

    + div {
      margin-top: 3px;
    }
  }
}
